flows/Backips/bach_domain_report_copy_4.json
{
  "name": "bach_domain_report copy 4",
  "nodes": [
    {
      "parameters": {},
      "id": "a84e3ca8-0bb2-45e3-b44a-ca4ab776a0b5",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        140,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "rawData": true,
          "readAsString": true
        }
      },
      "id": "51a17eb3-4abc-4aa8-b675-81628a5ae48a",
      "name": "Convert To Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        400,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 285,
        "width": 876.4066222551671
      },
      "id": "6f23535d-6b41-483f-872b-38705e5edc7e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        60
      ]
    },
    {
      "parameters": {
        "content": "## report setup",
        "height": 286,
        "width": 441.93359310581286
      },
      "id": "cd30be11-5d22-4c68-82f2-9f8c3cbbba4b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        60
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "2ef0ef60-1903-40f9-85a3-b4b8a218463f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        600,
        860
      ]
    },
    {
      "parameters": {
        "url": "=https://www.whoisxmlapi.com/whoisserver/WhoisService?apiKey=at_G9aJkBkW8lzUUkJ3H3wPcKFIJwHtI&domainName={{ $node.Set.json.domain_name_to_test }}",
        "options": {}
      },
      "id": "47bcaaee-363b-45a1-8b6a-fca52bdb109c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        1160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05fe3029-b429-42ff-b644-3226ddd00abd",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1080,
        1160
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain_name_to_test",
              "value": "={{ $node.Debug1.json.debug_name_to_test }}{{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e8f3672-964f-4c7e-993f-eae5133188fc",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        180,
        1160
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $node[\"Domain Settings\"].json.domain_list_file_folder }}{{ $node[\"Domain Settings\"].json.domain_list_file_fille }}"
      },
      "id": "f47d0aee-6521-4186-9717-680c9ac66e0d",
      "name": "Read list of domains From File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        220,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/17nD3e06Yrf-T79nZCWbDHD1cf0EVeLZakze2qChdPlE/",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n----\n----\n\n# **Start domain testing for {{ $node.Debug1.json.debug_name_to_test }}**\n\n###### **report date:** {{ new Date()}}\n"
            }
          ]
        }
      },
      "id": "0d9bf056-bff8-43b4-bdfb-2bf0422fb1e9",
      "name": "Write global header",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1120,
        140
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/17nD3e06Yrf-T79nZCWbDHD1cf0EVeLZakze2qChdPlE/",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=---\n\n## **Domain name {{ $json.domain_name_to_test }} :**\n"
            }
          ]
        }
      },
      "id": "3aec5587-7233-40c6-9826-5ea0c666a7b1",
      "name": "Write dimain header",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        460,
        1160
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.WhoisRecord.dataError }}",
              "value2": "MISSING_WHOIS_DATA"
            }
          ]
        }
      },
      "id": "83f7a535-af9c-47df-8e0b-931a98ba861c",
      "name": "IF MISSING_WHOIS_DATA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/17nD3e06Yrf-T79nZCWbDHD1cf0EVeLZakze2qChdPlE/",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n### MISSING_WHOIS_DATA\n\nwhoisServer: {{ $json.WhoisRecord.registryData.whoisServer }}\naudit date:  {{ $json.WhoisRecord.audit.createdDate }}\n"
            }
          ]
        }
      },
      "id": "169b9e00-d581-4f2d-8647-2aced98c61ee",
      "name": "No domain",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        580,
        1360
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/17nD3e06Yrf-T79nZCWbDHD1cf0EVeLZakze2qChdPlE/",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=> ** autit date: ** {{ $json.WhoisRecord.audit.updatedDate }}\n> ** error: ** {{ $json.WhoisRecord.dataError }}\n> ** created date: ** {{ $json.WhoisRecord.createdDate }}\n> ** update date: ** {{ $json.WhoisRecord.updatedDate }}\n> ** expires date: ** {{ $json.WhoisRecord.expiresDate }}\n> ** registrant name ** {{ $json.WhoisRecord.registrant.name }}\n> ** registrant country ** {{ $json.WhoisRecord.registrant.country }}\n\n\n```sh\n {{ $node[\"HTTP Request\"].json.data }}\n\n```\n\n\n\n"
            }
          ]
        }
      },
      "id": "9447a1b5-f2fc-4a39-9d90-13cbc4516599",
      "name": "whois data",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        580,
        1540
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1YlUzAvsdXWB1soHtJLoDoNnwEjfU4QGHlz2autm8N7k/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=---\n\n## **Domain name  {{ $node.Set.json.domain_name_to_test }} :**\n"
            }
          ]
        }
      },
      "id": "68996a15-1465-4caa-8e54-19b3c38a77a7",
      "name": "Write dimain header1",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        680,
        1160
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1YlUzAvsdXWB1soHtJLoDoNnwEjfU4QGHlz2autm8N7k/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=\n----\n----\n\n# **Start domain testing for {{ $node.Debug1.json.debug_name_to_test }}**\n\n###### **report date:** {{ new Date()}}\n"
            }
          ]
        }
      },
      "id": "44612ef7-f8d4-455c-bc18-f72ee0756301",
      "name": "Write global header summary",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1300,
        140
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1YlUzAvsdXWB1soHtJLoDoNnwEjfU4QGHlz2autm8N7k/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": " ### MISSING_WHOIS_DATA"
            }
          ]
        }
      },
      "id": "45957aa3-1b9e-4e32-9fcd-638fbf543804",
      "name": "No domain summary",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        780,
        1360
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1YlUzAvsdXWB1soHtJLoDoNnwEjfU4QGHlz2autm8N7k/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=> ** created date: ** {{ $node[\"IF MISSING_WHOIS_DATA\"].json.WhoisRecord.createdDate }}\n> ** update date: ** {{ $node[\"IF MISSING_WHOIS_DATA\"].json.WhoisRecord.updatedDate }}\n> ** expires date: ** {{ $node[\"IF MISSING_WHOIS_DATA\"].json.WhoisRecord.expiresDate }}\n"
            }
          ]
        }
      },
      "id": "1a0b5716-5606-4fbc-9777-758b0806eaea",
      "name": "whois data summary",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        1540
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "13",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$runIndex}}",
              "operation": "larger",
              "value2": -1
            }
          ]
        }
      },
      "id": "ea09153b-9b86-407a-a5ea-ee75b65be69a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        840
      ]
    },
    {
      "parameters": {},
      "id": "959b45d3-2585-4b2d-bd6a-07befd705951",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$runIndex % 20 }}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "2ca148d8-4d67-43a3-b960-6037fd9b3ac3",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        860
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "94d33bf5-3821-4d05-b267-298e637c4f15",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        900
      ],
      "webhookId": "38a49e97-90d6-40fb-8adb-0371c3f70926"
    },
    {
      "parameters": {
        "content": "## Create domain name report\n** you can define variables",
        "height": 996.3314127922374,
        "width": 1513.2734937276432
      },
      "id": "2a387761-7fa1-49bc-b29e-44b336cec19e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        760
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "html_report_template_list_file_folder",
              "stringValue": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\settings\\html\\"
            }
          ]
        },
        "options": {}
      },
      "id": "5a899400-94df-456a-a7e0-2245f61ff5cd",
      "name": "HTML Report Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1520,
        -1440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain_list_file_folder",
              "value": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\resources\\"
            },
            {
              "name": "domain_list_file_fille",
              "value": "all_domais.csv"
            },
            {
              "name": "report_folder",
              "value": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\reports\\"
            }
          ]
        },
        "options": {}
      },
      "id": "dea5d12b-dcf3-4106-922f-5c03b20ad241",
      "name": "Domain Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        300,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "_html_report_layer_1.1_topping.html.layer",
              "stringValue": "=<!DOCTYPE html>\n<html>"
            },
            {
              "name": "_html_report_layer_1.2_bottom.html.layer",
              "stringValue": "={{ $json.html }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92648624-4037-4968-8f26-f97447adfd80",
      "name": "HTML Report Layers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2720,
        -1360
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_1.1_topping.html.layer"
      },
      "id": "c810fd11-5ff7-4038-894f-b1b776cddba7",
      "name": "Read _html_report_layer",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -2100
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "1.1_topping.html.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_1.2_bottom.html.layer"
      },
      "id": "cd0b4e22-2941-42a6-bc6b-deb26574adb5",
      "name": "Read _html_report_layer1",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1920
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "1.2_bottom.html.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_2.1_head_top.html.layer"
      },
      "id": "086de3fe-97f5-43a0-a83d-4229c1359c1a",
      "name": "Read _html_report_layer2",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1740
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "2.1_head_top.html.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_3.4_body_header_bottom.layer"
      },
      "id": "e6aa0e9b-3051-4df2-b808-ded38c48db48",
      "name": "Read _html_report_layer5",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1200
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "3.4_body_header_bottom.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_4.1_body_list_top.layer"
      },
      "id": "81b46601-0b8f-47fe-9ef0-36a8988d4327",
      "name": "Read _html_report_layer6",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1020
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "4.1_body_list_top.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_4.2_body_list_bottom.layer"
      },
      "id": "a95b9d05-8b6a-445c-a506-947dcf084271",
      "name": "Read _html_report_layer7",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -840
      ],
      "typeVersion": 1,
      "notes": "4.2_body_list_bottom.layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_3.2_body_header_top..layer"
      },
      "id": "4819831f-5481-4599-b1af-bab56c6964ee",
      "name": "Read _html_report_layer4",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1380
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "3.2_body_header_top..layer"
    },
    {
      "parameters": {
        "filePath": "={{ $json.html_report_template_list_file_folder }}_html_report_layer_3.2_body_header_top..layer"
      },
      "id": "8f9582e7-63ed-47fd-854d-f7861fc4d4e0",
      "name": "Read _html_report_layer3",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2000,
        -1560
      ],
      "typeVersion": 1,
      "notesInFlow": true,
      "notes": "2.3_head_bottom.layer"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77e1487d-310b-4b17-af0c-ac8758da9b47",
      "name": "Convert to/from binary data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        2240,
        -1920
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n//for (const item of $input.all()) {\n//  item.json.myNewField = 1;\n//}\n\n//return $input.all();\n\n\n\nconst fs = require('fs');\n\n// Specify the path to your text file\nconst filePath = 'C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\settings\\html\\_html_report_layer_2.1_head_top.html.layer';\n\n// Read the contents of the file\nfs.readFile(filePath, 'utf8', (err, data) => {\n  if (err) {\n    console.error(`Error reading the file: ${err}`);\n    //return;\n  }\n});\n\nreturn data\n\n\n"
      },
      "id": "1877b52d-ad85-46f5-ad26-6447ae072895",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -1740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "569c3893-0ca1-4d27-a06e-f81f4f35b089",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        2240,
        -2100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Domain Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Spreadsheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "IF MISSING_WHOIS_DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Write dimain header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read list of domains From File": {
      "main": [
        [
          {
            "node": "Convert To Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write global header": {
      "main": [
        [
          {
            "node": "Write global header summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write dimain header": {
      "main": [
        [
          {
            "node": "Write dimain header1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MISSING_WHOIS_DATA": {
      "main": [
        [
          {
            "node": "No domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "whois data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No domain": {
      "main": [
        [
          {
            "node": "No domain summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whois data": {
      "main": [
        [
          {
            "node": "whois data summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write dimain header1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write global header summary": {
      "main": [
        [
          {
            "node": "Read list of domains From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whois data summary": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No domain summary": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Report Settings": {
      "main": [
        [
          {
            "node": "Read _html_report_layer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read _html_report_layer7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Settings": {
      "main": [
        [
          {
            "node": "HTML Report Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer": {
      "main": [
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer1": {
      "main": [
        [
          {
            "node": "Convert to/from binary data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer5": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer4": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer3": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer6": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read _html_report_layer7": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data1": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "HTML Report Layers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "41c25a80-7dda-47ae-a8d9-11b0032d6eb3",
  "id": "Tp2NGcZdqqTnC4ER",
  "meta": {
    "instanceId": "9367b2af08e9ff6a8e91f8997d59b421f3a6d2d63dad9ad9e3e79d764c423975"
  },
  "tags": [
    {
      "name": "backup_flow",
      "id": "aGfnIqfYB9oQ3vpN",
      "createdAt": "2023-11-28T12:50:39.774Z",
      "updatedAt": "2023-11-28T12:50:39.774Z"
    },
    {
      "createdAt": "2023-11-28T12:49:13.352Z",
      "updatedAt": "2023-11-28T12:49:13.352Z",
      "id": "siPs4JzBSSUVpks6",
      "name": "branding"
    }
  ]
}