flows/bach_domain_report (1).json
{
  "name": "bach_domain_report",
  "nodes": [
    {
      "parameters": {},
      "id": "aecce7a8-24f6-48c0-a7f0-f48a421d1d8c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        140,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "rawData": true,
          "readAsString": true
        }
      },
      "id": "9b469774-7c1d-41a3-9bfe-18fc3527f96e",
      "name": "Convert To Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        980,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 285,
        "width": 1051.2560257030998
      },
      "id": "77021e51-bbde-4ab3-a8bd-04e30c24e8fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        60
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "31880994-41d3-4cd1-b4b1-f0c1b99bc731",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        140,
        540
      ]
    },
    {
      "parameters": {
        "url": "=https://www.whoisxmlapi.com/whoisserver/WhoisService?apiKey=at_VPpFAzA4TeqpelJWKByi4JnAgVrlq&domainName={{ $node[\"Complete Domain\"].json.domain_name_to_test }}",
        "options": {}
      },
      "id": "d706ae3e-7e33-4798-b160-77b9b0da60ff",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        640,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ad617a0-ca0f-412c-aab5-96c59f75be77",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        900,
        520
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $node[\"Domain Settings\"].json.domain_list_file_folder }}{{ $node[\"Domain Settings\"].json.domain_list_file_fille }}"
      },
      "id": "66822f20-83a9-4272-920c-5d8c9140f912",
      "name": "Read list of domains From File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        780,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.WhoisRecord.dataError }}",
              "value2": "MISSING_WHOIS_DATA"
            }
          ]
        }
      },
      "id": "5e6ab70d-6848-4081-8b11-f565567b8a78",
      "name": "IF MISSING_WHOIS_DATA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain_list_file_folder",
              "value": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\resources\\"
            },
            {
              "name": "domain_list_file_fille",
              "value": "test_domais1.csv"
            },
            {
              "name": "report_folder",
              "value": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\reports\\"
            }
          ]
        },
        "options": {}
      },
      "id": "9f578898-67fc-4f20-8fda-5fb54264db71",
      "name": "Domain Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "debug_name_to_test",
              "stringValue": "myotis"
            }
          ]
        },
        "options": {}
      },
      "id": "f3a94bdd-8b98-4c42-a256-9213c8165fbc",
      "name": "Debug1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        340,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domainName",
              "stringValue": "={{ $json.WhoisRecord.domainName }}"
            },
            {
              "name": "dataError",
              "stringValue": "={{ $json.WhoisRecord.dataError }}"
            },
            {
              "name": "allData",
              "stringValue": "={{ $json.WhoisRecord }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "e57d589e-9708-438a-bb02-e44b90715555",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1500,
        480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domainName",
              "stringValue": "={{ $json.WhoisRecord.domainName }}"
            },
            {
              "name": "dataError",
              "stringValue": "={{ $json.WhoisRecord.registryData.dataError }}"
            },
            {
              "name": "registrant_country",
              "stringValue": "={{ $json.WhoisRecord.registryData.registrant.country }}"
            },
            {
              "name": "createdDateNormalized",
              "stringValue": "={{ $json.WhoisRecord.registryData.createdDateNormalized }}"
            },
            {
              "name": "updatedDateNormalized",
              "stringValue": "={{ $json.WhoisRecord.registryData.updatedDateNormalized }}"
            },
            {
              "name": "expiresDateNormalized",
              "stringValue": "={{ $json.WhoisRecord.registryData.expiresDateNormalized }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "9e5542e6-2361-485c-a03d-a9d5b5e3e4c6",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1760,
        880
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "f37a0ec7-ec3e-4323-b3af-9a2341569288",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2060,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.WhoisRecord.dataError }}",
              "value2": "INVALID_TLD"
            }
          ]
        }
      },
      "id": "61f47e3d-07ef-4788-a3b7-36bb508b6588",
      "name": "IF MISSING_WHOIS_DATA1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "dataError",
              "stringValue": "={{ $json.WhoisRecord.dataError }}"
            },
            {
              "name": "domainName",
              "stringValue": "={{ $json.WhoisRecord.domainName }}"
            },
            {
              "name": "allData",
              "stringValue": "={{ $json.WhoisRecord }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "09fdbe85-c959-4a07-ae7b-be13c945b022",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1760,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain_name_to_test",
              "value": "={{ $node.Debug1.json.debug_name_to_test }}{{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45f5fd95-86b1-4cdc-ac78-7f13185493f6",
      "name": "Complete Domain",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        520
      ]
    },
    {
      "parameters": {
        "height": 632.6384774156721,
        "width": 2175.37307562452
      },
      "id": "4c8ea5a9-a83e-4baa-81a7-edea16760c54",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        420
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, shrink-to-fit=no\">\n    <title>Domain report</title>\n    <link rel=\"stylesheet\" href=\"assets/bootstrap/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\"\n        href=\"https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic\">\n    <link rel=\"stylesheet\" href=\"assets/fonts/font-awesome.min.css\">\n</head>\n\n  <body>\n    <nav class=\"navbar navbar-light navbar-expand-lg fixed-top\" id=\"mainNav\">\n        <div class=\"container\"><a class=\"navbar-brand\" href=\"index.html\">Brand</a><button data-bs-toggle=\"collapse\"\n                data-bs-target=\"#navbarResponsive\" class=\"navbar-toggler\" aria-controls=\"navbarResponsive\"\n                aria-expanded=\"false\" aria-label=\"Toggle navigation\"><i class=\"fa fa-bars\"></i></button>\n            <div class=\"collapse navbar-collapse\" id=\"navbarResponsive\">\n                <ul class=\"navbar-nav ms-auto\">\n                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"index.html\">Home</a></li>\n                    <li class=\"nav-item\"></li>\n                    <li class=\"nav-item\"><a class=\"nav-link\" href=\"contact.html\">Contact us</a></li>\n                    <li class=\"nav-item\"></li>\n                </ul>\n            </div>\n        </div>\n    </nav>\n    <header class=\"masthead\" style=\"background-image:url('assets/img/home-bg.jpg');\">\n        <div class=\"overlay\"></div>\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-md-10 col-lg-8 mx-auto position-relative\">\n                    <div class=\"site-heading\">\n                        <h1>Clean name</h1><span class=\"subheading\">Brande Report</span>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </header>\n\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-md-10 col-lg-8\">\n            \n                <hr>\n                <hr>\n\n            </div>\n        </div>\n        <script src=\"assets/bootstrap/js/bootstrap.min.js\"></script>\n        <script src=\"assets/js/script.min.js\"></script>\n        \n    </div>\n\n\n</body>\n\n</html>"
      },
      "id": "8d18755f-aedc-477f-9a09-39da669b2931",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        640,
        1320
      ]
    },
    {
      "parameters": {},
      "id": "c0e68f82-4bcc-49d7-88c0-0b43208d94be",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1640,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "rtf",
        "binaryPropertyName": "={{ $json.html }}",
        "options": {}
      },
      "id": "791e105f-2589-400e-84d5-6978b77d6d82",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1200,
        1320
      ]
    },
    {
      "parameters": {
        "fileName": "C:\\Users\\nunot\\Documents\\_Documentos\\Projectos\\bach_domain_report\\reports\\po3.html",
        "options": {}
      },
      "id": "e5fd7d16-703c-42ca-b74f-8f305bf3bd32",
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1380,
        1320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Debug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Spreadsheet": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Complete Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "IF MISSING_WHOIS_DATA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read list of domains From File": {
      "main": [
        [
          {
            "node": "Convert To Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MISSING_WHOIS_DATA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF MISSING_WHOIS_DATA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Settings": {
      "main": [
        [
          {
            "node": "Read list of domains From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug1": {
      "main": [
        [
          {
            "node": "Domain Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MISSING_WHOIS_DATA1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Complete Domain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "af80ca93-2c3e-418f-aee9-9e73c4a9dd7e",
  "id": "16",
  "meta": {
    "instanceId": "9367b2af08e9ff6a8e91f8997d59b421f3a6d2d63dad9ad9e3e79d764c423975"
  },
  "tags": []
}