flows/detect_domain_warehouse.json
{
  "name": "detect_domain_warehouse",
  "nodes": [
    {
      "parameters": {},
      "id": "0ebe24ec-8ba0-43a3-84cf-3289a2868420",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        320
      ]
    },
    {
      "parameters": {
        "content": "# if it is a mydomaincontact.com domain\n## Ex:\n-kubidu.com\n\n",
        "height": 145.23893698912738,
        "width": 831
      },
      "id": "29e5f58c-e78b-4dd1-95e7-e0e88a4efccd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.sale_diagonal_top_text }}",
              "value2": "Compre este domínio."
            }
          ]
        }
      },
      "id": "bb24bb7a-70b6-4126-969f-cf657a050df1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Testes if is a mydomaincontact.com domain\n### Ex:\n- kubidu.com",
        "height": 289.48470996876955,
        "width": 716.1731717338445
      },
      "id": "04f20cab-8380-4d30-a928-cdc0a59d01f2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        611.1405973612364,
        360
      ]
    },
    {
      "parameters": {
        "content": "## extracts data from site",
        "height": 288.0702284948323,
        "width": 624.2106854844966
      },
      "id": "4547b3e7-e7de-4313-9dc6-47cd69771812",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Testes if HTTP GET is on error",
        "height": 289.48470996876955,
        "width": 712.8744019569125
      },
      "id": "3d793e9f-cabd-4997-b00d-829be016fedb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        614,
        700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domain_to_analise",
              "stringValue": "classificados.online"
            },
            {
              "name": "whoisxmlapi_api_key",
              "stringValue": "at_U2WK0ctU10OJSG6ZVAlbQCeceU7KE"
            },
            {
              "name": "whois_data",
              "stringValue": "[\n  {\n    \"WhoisRecord\": {\n      \"createdDate\": \"2019-12-29T18:19:25Z\",\n      \"updatedDate\": \"2022-12-12T12:16:37Z\",\n      \"expiresDate\": \"2023-12-29T18:19:25Z\",\n      \"registrant\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Registrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"administrativeContact\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Admin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"technicalContact\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Tech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"domainName\": \"kubidu.com\",\n      \"nameServers\": {\n        \"rawText\": \"NS1.PARKINGCREW.NET\\nNS2.PARKINGCREW.NET\\n\",\n        \"hostNames\": {\n          \"Address\": [\n            \"NS1.PARKINGCREW.NET\",\n            \"NS2.PARKINGCREW.NET\"\n          ]\n        },\n        \"ips\": \"\"\n      },\n      \"status\": \"clientTransferProhibited clientUpdateProhibited clientRenewProhibited clientDeleteProhibited\",\n      \"rawText\": \"Domain Name: kubidu.com\\nRegistry Domain ID: 2473712689_DOMAIN_COM-VRSN\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: https://www.godaddy.com\\nUpdated Date: 2022-12-12T12:16:37Z\\nCreation Date: 2019-12-29T18:19:25Z\\nRegistrar Registration Expiration Date: 2023-12-29T18:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: +1.4806242505\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nRegistry Registrant ID: Not Available From Registry\\nRegistrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Phone Ext:\\nRegistrant Fax: \\nRegistrant Fax Ext:\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nRegistry Admin ID: Not Available From Registry\\nAdmin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Phone Ext:\\nAdmin Fax: \\nAdmin Fax Ext:\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nRegistry Tech ID: Not Available From Registry\\nTech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Phone Ext:\\nTech Fax: \\nTech Fax Ext:\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\nDNSSEC: unsigned\\nURL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/\\n>>> Last update of WHOIS database: 2023-12-11T00:21:15Z <<<\\nFor more information on Whois status codes, please visit https://icann.org/epp\\n\\nTERMS OF USE: The data contained in this registrar's Whois database, while believed by the\\nregistrar to be reliable, is provided \\\"as is\\\" with no guarantee or warranties regarding its\\naccuracy. This information is provided for the sole purpose of assisting you in obtaining\\ninformation about domain name registration records. Any use of this data for any other purpose\\nis expressly forbidden without the prior written permission of this registrar. By submitting\\nan inquiry, you agree to these terms and limitations of warranty. In particular, you agree not\\nto use this data to allow, enable, or otherwise support the dissemination or collection of this\\ndata, in part or in its entirety, for any purpose, such as transmission by e-mail, telephone,\\npostal mail, facsimile or other means of mass unsolicited, commercial advertising or solicitations\\nof any kind, including spam. You further agree not to use this data to enable high volume, automated\\nor robotic electronic processes designed to collect or compile this data for any purpose, including\\nmining this data for your own personal or commercial purposes. Failure to comply with these terms\\nmay result in termination of access to the Whois database. These terms may be subject to modification\\nat any time without notice.\",\n      \"parseCode\": \"3515\",\n      \"header\": \"\",\n      \"strippedText\": \"Domain Name: kubidu.com\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: https://www.godaddy.com\\nUpdated Date: 2022-12-12T12:16:37Z\\nCreation Date: 2019-12-29T18:19:25Z\\nRegistrar Registration Expiration Date: 2023-12-29T18:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: +1.4806242505\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nRegistrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nAdmin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nTech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\n\",\n      \"footer\": \"\",\n      \"audit\": {\n        \"createdDate\": \"2023-12-11 00:21:15 UTC\",\n        \"updatedDate\": \"2023-12-11 00:21:15 UTC\"\n      },\n      \"registrarName\": \"GoDaddy.com, LLC\",\n      \"registrarIANAID\": \"146\",\n      \"createdDateNormalized\": \"2019-12-29 18:19:25 UTC\",\n      \"updatedDateNormalized\": \"2022-12-12 12:16:37 UTC\",\n      \"expiresDateNormalized\": \"2023-12-29 18:19:25 UTC\",\n      \"registryData\": {\n        \"createdDate\": \"2019-12-29T23:19:25Z\",\n        \"updatedDate\": \"2022-12-12T17:16:39Z\",\n        \"expiresDate\": \"2023-12-29T23:19:25Z\",\n        \"domainName\": \"kubidu.com\",\n        \"nameServers\": {\n          \"rawText\": \"NS1.PARKINGCREW.NET\\nNS2.PARKINGCREW.NET\\n\",\n          \"hostNames\": {\n            \"Address\": [\n              \"NS1.PARKINGCREW.NET\",\n              \"NS2.PARKINGCREW.NET\"\n            ]\n          },\n          \"ips\": \"\"\n        },\n        \"status\": \"clientDeleteProhibited clientRenewProhibited clientTransferProhibited clientUpdateProhibited\",\n        \"rawText\": \"Domain Name: KUBIDU.COM\\n   Registry Domain ID: 2473712689_DOMAIN_COM-VRSN\\n   Registrar WHOIS Server: whois.godaddy.com\\n   Registrar URL: http://www.godaddy.com\\n   Updated Date: 2022-12-12T17:16:39Z\\n   Creation Date: 2019-12-29T23:19:25Z\\n   Registry Expiry Date: 2023-12-29T23:19:25Z\\n   Registrar: GoDaddy.com, LLC\\n   Registrar IANA ID: 146\\n   Registrar Abuse Contact Email: abuse@godaddy.com\\n   Registrar Abuse Contact Phone: 480-624-2505\\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\n   Domain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\n   Name Server: NS1.PARKINGCREW.NET\\n   Name Server: NS2.PARKINGCREW.NET\\n   DNSSEC: unsigned\\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\\n>>> Last update of whois database: 2023-12-11T00:20:50Z <<<\\n\\nFor more information on Whois status codes, please visit https://icann.org/epp\\n\\nNOTICE: The expiration date displayed in this record is the date the\\nregistrar's sponsorship of the domain name registration in the registry is\\ncurrently set to expire. This date does not necessarily reflect the expiration\\ndate of the domain name registrant's agreement with the sponsoring\\nregistrar.  Users may consult the sponsoring registrar's Whois database to\\nview the registrar's reported date of expiration for this registration.\\n\\nTERMS OF USE: You are not authorized to access or query our Whois\\ndatabase through the use of electronic processes that are high-volume and\\nautomated except as reasonably necessary to register domain names or\\nmodify existing registrations; the Data in VeriSign Global Registry\\nServices' (\\\"VeriSign\\\") Whois database is provided by VeriSign for\\ninformation purposes only, and to assist persons in obtaining information\\nabout or related to a domain name registration record. VeriSign does not\\nguarantee its accuracy. By submitting a Whois query, you agree to abide\\nby the following terms of use: You agree that you may use this Data only\\nfor lawful purposes and that under no circumstances will you use this Data\\nto: (1) allow, enable, or otherwise support the transmission of mass\\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\\nor facsimile; or (2) enable high volume, automated, electronic processes\\nthat apply to VeriSign (or its computer systems). The compilation,\\nrepackaging, dissemination or other use of this Data is expressly\\nprohibited without the prior written consent of VeriSign. You agree not to\\nuse electronic processes that are automated and high-volume to access or\\nquery the Whois database except as reasonably necessary to register\\ndomain names or modify existing registrations. VeriSign reserves the right\\nto restrict your access to the Whois database in its sole discretion to ensure\\noperational stability.  VeriSign may restrict or terminate your access to the\\nWhois database for failure to abide by these terms of use. VeriSign\\nreserves the right to modify these terms at any time.\\n\\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\\nRegistrars.\",\n        \"parseCode\": \"251\",\n        \"header\": \"\",\n        \"strippedText\": \"Domain Name: KUBIDU.COM\\nRegistry Domain ID: 2473712689_DOMAIN_COM-VRSN\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: http://www.godaddy.com\\nUpdated Date: 2022-12-12T17:16:39Z\\nCreation Date: 2019-12-29T23:19:25Z\\nRegistry Expiry Date: 2023-12-29T23:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: 480-624-2505\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\nDNSSEC: unsigned\\nURL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\\n>>> Last update of whois database: 2023-12-11T00:20:50Z <<<\\nFor more information on Whois status codes, please visit https://icann.org/epp\\nNOTICE: The expiration date displayed in this record is the date the\\nregistrar's sponsorship of the domain name registration in the registry is\\ncurrently set to expire. This date does not necessarily reflect the expiration\\ndate of the domain name registrant's agreement with the sponsoring\\nregistrar.  Users may consult the sponsoring registrar's Whois database to\\nview the registrar's reported date of expiration for this registration.\\nTERMS OF USE: You are not authorized to access or query our Whois\\ndatabase through the use of electronic processes that are high-volume and\\nautomated except as reasonably necessary to register domain names or\\nmodify existing registrations; the Data in VeriSign Global Registry\\nServices' (\\\"VeriSign\\\") Whois database is provided by VeriSign for\\ninformation purposes only, and to assist persons in obtaining information\\nabout or related to a domain name registration record. VeriSign does not\\nguarantee its accuracy. By submitting a Whois query, you agree to abide\\nby the following terms of use: You agree that you may use this Data only\\nfor lawful purposes and that under no circumstances will you use this Data\\nto: (1) allow, enable, or otherwise support the transmission of mass\\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\\nor facsimile; or (2) enable high volume, automated, electronic processes\\nthat apply to VeriSign (or its computer systems). The compilation,\\nrepackaging, dissemination or other use of this Data is expressly\\nprohibited without the prior written consent of VeriSign. You agree not to\\nuse electronic processes that are automated and high-volume to access or\\nquery the Whois database except as reasonably necessary to register\\ndomain names or modify existing registrations. VeriSign reserves the right\\nto restrict your access to the Whois database in its sole discretion to ensure\\noperational stability.  VeriSign may restrict or terminate your access to the\\nWhois database for failure to abide by these terms of use. VeriSign\\nreserves the right to modify these terms at any time.\\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\\nRegistrars.\\n\",\n        \"footer\": \"\",\n        \"audit\": {\n          \"createdDate\": \"2023-12-11 00:21:07 UTC\",\n          \"updatedDate\": \"2023-12-11 00:21:07 UTC\"\n        },\n        \"registrarName\": \"GoDaddy.com, LLC\",\n        \"registrarIANAID\": \"146\",\n        \"createdDateNormalized\": \"2019-12-29 23:19:25 UTC\",\n        \"updatedDateNormalized\": \"2022-12-12 17:16:39 UTC\",\n        \"expiresDateNormalized\": \"2023-12-29 23:19:25 UTC\",\n        \"whoisServer\": \"whois.godaddy.com\"\n      },\n      \"domainAvailability\": \"UNAVAILABLE\",\n      \"contactEmail\": \"abuse@godaddy.com\",\n      \"domainNameExt\": \".com\",\n      \"estimatedDomainAge\": \"1442\",\n      \"ips\": {\n        \"string\": \"104.247.81.51\"\n      }\n    }\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "77f7d0ce-22f2-4653-a53f-8734aa6df2c4",
      "name": "Debug Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -680,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domain_to_analise",
              "stringValue": "backoffice.pt"
            },
            {
              "name": "whoisxmlapi_api_key",
              "stringValue": "at_U2WK0ctU10OJSG6ZVAlbQCeceU7KE"
            },
            {
              "name": "whois_data",
              "stringValue": "[\n  {\n    \"WhoisRecord\": {\n      \"createdDate\": \"2019-12-29T18:19:25Z\",\n      \"updatedDate\": \"2022-12-12T12:16:37Z\",\n      \"expiresDate\": \"2023-12-29T18:19:25Z\",\n      \"registrant\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Registrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"administrativeContact\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Admin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"technicalContact\": {\n        \"name\": \"Registration Private\",\n        \"organization\": \"Domains By Proxy, LLC\",\n        \"street1\": \"DomainsByProxy.com\\n2155 E Warner Rd\",\n        \"city\": \"Tempe\",\n        \"state\": \"Arizona\",\n        \"postalCode\": \"85284\",\n        \"country\": \"UNITED STATES\",\n        \"countryCode\": \"US\",\n        \"telephone\": \"14806242599\",\n        \"rawText\": \"Tech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\"\n      },\n      \"domainName\": \"kubidu.com\",\n      \"nameServers\": {\n        \"rawText\": \"NS1.PARKINGCREW.NET\\nNS2.PARKINGCREW.NET\\n\",\n        \"hostNames\": {\n          \"Address\": [\n            \"NS1.PARKINGCREW.NET\",\n            \"NS2.PARKINGCREW.NET\"\n          ]\n        },\n        \"ips\": \"\"\n      },\n      \"status\": \"clientTransferProhibited clientUpdateProhibited clientRenewProhibited clientDeleteProhibited\",\n      \"rawText\": \"Domain Name: kubidu.com\\nRegistry Domain ID: 2473712689_DOMAIN_COM-VRSN\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: https://www.godaddy.com\\nUpdated Date: 2022-12-12T12:16:37Z\\nCreation Date: 2019-12-29T18:19:25Z\\nRegistrar Registration Expiration Date: 2023-12-29T18:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: +1.4806242505\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nRegistry Registrant ID: Not Available From Registry\\nRegistrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Phone Ext:\\nRegistrant Fax: \\nRegistrant Fax Ext:\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nRegistry Admin ID: Not Available From Registry\\nAdmin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Phone Ext:\\nAdmin Fax: \\nAdmin Fax Ext:\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nRegistry Tech ID: Not Available From Registry\\nTech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Phone Ext:\\nTech Fax: \\nTech Fax Ext:\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\nDNSSEC: unsigned\\nURL of the ICANN WHOIS Data Problem Reporting System: http://wdprs.internic.net/\\n>>> Last update of WHOIS database: 2023-12-11T00:21:15Z <<<\\nFor more information on Whois status codes, please visit https://icann.org/epp\\n\\nTERMS OF USE: The data contained in this registrar's Whois database, while believed by the\\nregistrar to be reliable, is provided \\\"as is\\\" with no guarantee or warranties regarding its\\naccuracy. This information is provided for the sole purpose of assisting you in obtaining\\ninformation about domain name registration records. Any use of this data for any other purpose\\nis expressly forbidden without the prior written permission of this registrar. By submitting\\nan inquiry, you agree to these terms and limitations of warranty. In particular, you agree not\\nto use this data to allow, enable, or otherwise support the dissemination or collection of this\\ndata, in part or in its entirety, for any purpose, such as transmission by e-mail, telephone,\\npostal mail, facsimile or other means of mass unsolicited, commercial advertising or solicitations\\nof any kind, including spam. You further agree not to use this data to enable high volume, automated\\nor robotic electronic processes designed to collect or compile this data for any purpose, including\\nmining this data for your own personal or commercial purposes. Failure to comply with these terms\\nmay result in termination of access to the Whois database. These terms may be subject to modification\\nat any time without notice.\",\n      \"parseCode\": \"3515\",\n      \"header\": \"\",\n      \"strippedText\": \"Domain Name: kubidu.com\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: https://www.godaddy.com\\nUpdated Date: 2022-12-12T12:16:37Z\\nCreation Date: 2019-12-29T18:19:25Z\\nRegistrar Registration Expiration Date: 2023-12-29T18:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: +1.4806242505\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nRegistrant Name: Registration Private\\nRegistrant Organization: Domains By Proxy, LLC\\nRegistrant Street: DomainsByProxy.com\\nRegistrant Street: 2155 E Warner Rd\\nRegistrant City: Tempe\\nRegistrant State/Province: Arizona\\nRegistrant Postal Code: 85284\\nRegistrant Country: US\\nRegistrant Phone: +1.4806242599\\nRegistrant Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nAdmin Name: Registration Private\\nAdmin Organization: Domains By Proxy, LLC\\nAdmin Street: DomainsByProxy.com\\nAdmin Street: 2155 E Warner Rd\\nAdmin City: Tempe\\nAdmin State/Province: Arizona\\nAdmin Postal Code: 85284\\nAdmin Country: US\\nAdmin Phone: +1.4806242599\\nAdmin Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nTech Name: Registration Private\\nTech Organization: Domains By Proxy, LLC\\nTech Street: DomainsByProxy.com\\nTech Street: 2155 E Warner Rd\\nTech City: Tempe\\nTech State/Province: Arizona\\nTech Postal Code: 85284\\nTech Country: US\\nTech Phone: +1.4806242599\\nTech Email: Select Contact Domain Holder link at https://www.godaddy.com/whois/results.aspx?domain=kubidu.com\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\n\",\n      \"footer\": \"\",\n      \"audit\": {\n        \"createdDate\": \"2023-12-11 00:21:15 UTC\",\n        \"updatedDate\": \"2023-12-11 00:21:15 UTC\"\n      },\n      \"registrarName\": \"GoDaddy.com, LLC\",\n      \"registrarIANAID\": \"146\",\n      \"createdDateNormalized\": \"2019-12-29 18:19:25 UTC\",\n      \"updatedDateNormalized\": \"2022-12-12 12:16:37 UTC\",\n      \"expiresDateNormalized\": \"2023-12-29 18:19:25 UTC\",\n      \"registryData\": {\n        \"createdDate\": \"2019-12-29T23:19:25Z\",\n        \"updatedDate\": \"2022-12-12T17:16:39Z\",\n        \"expiresDate\": \"2023-12-29T23:19:25Z\",\n        \"domainName\": \"kubidu.com\",\n        \"nameServers\": {\n          \"rawText\": \"NS1.PARKINGCREW.NET\\nNS2.PARKINGCREW.NET\\n\",\n          \"hostNames\": {\n            \"Address\": [\n              \"NS1.PARKINGCREW.NET\",\n              \"NS2.PARKINGCREW.NET\"\n            ]\n          },\n          \"ips\": \"\"\n        },\n        \"status\": \"clientDeleteProhibited clientRenewProhibited clientTransferProhibited clientUpdateProhibited\",\n        \"rawText\": \"Domain Name: KUBIDU.COM\\n   Registry Domain ID: 2473712689_DOMAIN_COM-VRSN\\n   Registrar WHOIS Server: whois.godaddy.com\\n   Registrar URL: http://www.godaddy.com\\n   Updated Date: 2022-12-12T17:16:39Z\\n   Creation Date: 2019-12-29T23:19:25Z\\n   Registry Expiry Date: 2023-12-29T23:19:25Z\\n   Registrar: GoDaddy.com, LLC\\n   Registrar IANA ID: 146\\n   Registrar Abuse Contact Email: abuse@godaddy.com\\n   Registrar Abuse Contact Phone: 480-624-2505\\n   Domain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\n   Domain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\n   Domain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\n   Domain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\n   Name Server: NS1.PARKINGCREW.NET\\n   Name Server: NS2.PARKINGCREW.NET\\n   DNSSEC: unsigned\\n   URL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\\n>>> Last update of whois database: 2023-12-11T00:20:50Z <<<\\n\\nFor more information on Whois status codes, please visit https://icann.org/epp\\n\\nNOTICE: The expiration date displayed in this record is the date the\\nregistrar's sponsorship of the domain name registration in the registry is\\ncurrently set to expire. This date does not necessarily reflect the expiration\\ndate of the domain name registrant's agreement with the sponsoring\\nregistrar.  Users may consult the sponsoring registrar's Whois database to\\nview the registrar's reported date of expiration for this registration.\\n\\nTERMS OF USE: You are not authorized to access or query our Whois\\ndatabase through the use of electronic processes that are high-volume and\\nautomated except as reasonably necessary to register domain names or\\nmodify existing registrations; the Data in VeriSign Global Registry\\nServices' (\\\"VeriSign\\\") Whois database is provided by VeriSign for\\ninformation purposes only, and to assist persons in obtaining information\\nabout or related to a domain name registration record. VeriSign does not\\nguarantee its accuracy. By submitting a Whois query, you agree to abide\\nby the following terms of use: You agree that you may use this Data only\\nfor lawful purposes and that under no circumstances will you use this Data\\nto: (1) allow, enable, or otherwise support the transmission of mass\\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\\nor facsimile; or (2) enable high volume, automated, electronic processes\\nthat apply to VeriSign (or its computer systems). The compilation,\\nrepackaging, dissemination or other use of this Data is expressly\\nprohibited without the prior written consent of VeriSign. You agree not to\\nuse electronic processes that are automated and high-volume to access or\\nquery the Whois database except as reasonably necessary to register\\ndomain names or modify existing registrations. VeriSign reserves the right\\nto restrict your access to the Whois database in its sole discretion to ensure\\noperational stability.  VeriSign may restrict or terminate your access to the\\nWhois database for failure to abide by these terms of use. VeriSign\\nreserves the right to modify these terms at any time.\\n\\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\\nRegistrars.\",\n        \"parseCode\": \"251\",\n        \"header\": \"\",\n        \"strippedText\": \"Domain Name: KUBIDU.COM\\nRegistry Domain ID: 2473712689_DOMAIN_COM-VRSN\\nRegistrar WHOIS Server: whois.godaddy.com\\nRegistrar URL: http://www.godaddy.com\\nUpdated Date: 2022-12-12T17:16:39Z\\nCreation Date: 2019-12-29T23:19:25Z\\nRegistry Expiry Date: 2023-12-29T23:19:25Z\\nRegistrar: GoDaddy.com, LLC\\nRegistrar IANA ID: 146\\nRegistrar Abuse Contact Email: abuse@godaddy.com\\nRegistrar Abuse Contact Phone: 480-624-2505\\nDomain Status: clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited\\nDomain Status: clientRenewProhibited https://icann.org/epp#clientRenewProhibited\\nDomain Status: clientTransferProhibited https://icann.org/epp#clientTransferProhibited\\nDomain Status: clientUpdateProhibited https://icann.org/epp#clientUpdateProhibited\\nName Server: NS1.PARKINGCREW.NET\\nName Server: NS2.PARKINGCREW.NET\\nDNSSEC: unsigned\\nURL of the ICANN Whois Inaccuracy Complaint Form: https://www.icann.org/wicf/\\n>>> Last update of whois database: 2023-12-11T00:20:50Z <<<\\nFor more information on Whois status codes, please visit https://icann.org/epp\\nNOTICE: The expiration date displayed in this record is the date the\\nregistrar's sponsorship of the domain name registration in the registry is\\ncurrently set to expire. This date does not necessarily reflect the expiration\\ndate of the domain name registrant's agreement with the sponsoring\\nregistrar.  Users may consult the sponsoring registrar's Whois database to\\nview the registrar's reported date of expiration for this registration.\\nTERMS OF USE: You are not authorized to access or query our Whois\\ndatabase through the use of electronic processes that are high-volume and\\nautomated except as reasonably necessary to register domain names or\\nmodify existing registrations; the Data in VeriSign Global Registry\\nServices' (\\\"VeriSign\\\") Whois database is provided by VeriSign for\\ninformation purposes only, and to assist persons in obtaining information\\nabout or related to a domain name registration record. VeriSign does not\\nguarantee its accuracy. By submitting a Whois query, you agree to abide\\nby the following terms of use: You agree that you may use this Data only\\nfor lawful purposes and that under no circumstances will you use this Data\\nto: (1) allow, enable, or otherwise support the transmission of mass\\nunsolicited, commercial advertising or solicitations via e-mail, telephone,\\nor facsimile; or (2) enable high volume, automated, electronic processes\\nthat apply to VeriSign (or its computer systems). The compilation,\\nrepackaging, dissemination or other use of this Data is expressly\\nprohibited without the prior written consent of VeriSign. You agree not to\\nuse electronic processes that are automated and high-volume to access or\\nquery the Whois database except as reasonably necessary to register\\ndomain names or modify existing registrations. VeriSign reserves the right\\nto restrict your access to the Whois database in its sole discretion to ensure\\noperational stability.  VeriSign may restrict or terminate your access to the\\nWhois database for failure to abide by these terms of use. VeriSign\\nreserves the right to modify these terms at any time.\\nThe Registry database contains ONLY .COM, .NET, .EDU domains and\\nRegistrars.\\n\",\n        \"footer\": \"\",\n        \"audit\": {\n          \"createdDate\": \"2023-12-11 00:21:07 UTC\",\n          \"updatedDate\": \"2023-12-11 00:21:07 UTC\"\n        },\n        \"registrarName\": \"GoDaddy.com, LLC\",\n        \"registrarIANAID\": \"146\",\n        \"createdDateNormalized\": \"2019-12-29 23:19:25 UTC\",\n        \"updatedDateNormalized\": \"2022-12-12 17:16:39 UTC\",\n        \"expiresDateNormalized\": \"2023-12-29 23:19:25 UTC\",\n        \"whoisServer\": \"whois.godaddy.com\"\n      },\n      \"domainAvailability\": \"UNAVAILABLE\",\n      \"contactEmail\": \"abuse@godaddy.com\",\n      \"domainNameExt\": \".com\",\n      \"estimatedDomainAge\": \"1442\",\n      \"ips\": {\n        \"string\": \"104.247.81.51\"\n      }\n    }\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "b8a89629-7187-469c-8b36-903eabe19bd6",
      "name": "n8n call Settings1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -600,
        680
      ]
    },
    {
      "parameters": {
        "events": [
          "init"
        ]
      },
      "id": "70c851ba-283a-4949-900c-9699fc15b911",
      "name": "n8n Trigger",
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        680
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "sale_diagonal_top_text",
              "cssSelector": ".sale_diagonal_top"
            },
            {
              "key": "sale_diagonal_top_http_fragment",
              "cssSelector": ".sale_diagonal_top",
              "returnValue": "html"
            },
            {
              "key": "sale_diagonal_top_link",
              "cssSelector": "#afd > div > div.sale_diagonal_top > a",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "id": "2adfbdb7-4bbc-4959-a309-f1cb26228a35",
      "name": "HTML extractor",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Testes if is a sedo.com domain\n### ex: \n- classificados.online",
        "height": 289.48470996876955,
        "width": 711.2250170684463
      },
      "id": "9a04fb4d-8c05-4862-9ef5-846fb8706760",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        616.0887520266346,
        1020
      ]
    },
    {
      "parameters": {
        "content": "## extracts data from site",
        "height": 288.0702284948323,
        "width": 891.1468271174994
      },
      "id": "7f45dd20-6534-4759-bb01-a30d7845643c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "a89012a7-0523-4a1b-bd41-b2221ab6c0dc",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        1800
      ]
    },
    {
      "parameters": {
        "content": "## Testes other errors",
        "height": 289.48470996876955,
        "width": 707.447503793783
      },
      "id": "31dfc6ae-e798-4846-82a1-06304c774766",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        619.8662653012979,
        1360
      ]
    },
    {
      "parameters": {
        "content": "## extracts data from site",
        "height": 288.0702284948323,
        "width": 745.7677601490557
      },
      "id": "c0a30fe6-2662-49aa-a1f5-7e1062cb3eae",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1360
      ]
    },
    {
      "parameters": {
        "html": "O Dominio pertece a uma warehouse conhecida: mydomaincontact.com\nEsta não tem o valor de revenda pré definido mas pode ser contadada por form neste link:\n\n{{ $json.sale_diagonal_top_link }}\n\nMais informação em:\nhttps://www.mydomain.com/support/contact.html\n"
      },
      "id": "50de4648-feb9-4a44-b68e-01b819ae5df9",
      "name": "Data Extration",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1440,
        440
      ]
    },
    {
      "parameters": {
        "url": "=https://www.whoisxmlapi.com/whoisserver/WhoisService?apiKey={{ $json.whoisxmlapi_api_key }}&domainName={{ $json.domain_to_analise }}",
        "options": {}
      },
      "id": "3ca1ce2f-63f3-495a-891b-0943f7c5104a",
      "name": "HTTP_Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -520,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "755981d9-9a2d-4009-ad12-2b85beac69f6",
      "name": "convert to Json",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -360,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Manual debug trigger",
        "height": 291.5052879326417,
        "width": 926.1306712684018
      },
      "id": "4d90f60d-ad7f-45ca-aeeb-e146f863367b",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        240
      ]
    },
    {
      "parameters": {
        "content": "## n8n call trigger",
        "height": 291.5052879326417,
        "width": 926.1306712684018
      },
      "id": "9d4102d5-15bd-4ff4-9dbc-919977e9516e",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        580
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domain_to_analise",
              "stringValue": "={{ $('Debug Settings').item.json.domain_to_analise }}"
            },
            {
              "name": "=whois_data",
              "stringValue": "={{ $('Debug Settings').item.json.whois_data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf7e7ac3-0f04-4378-8590-62b4c2367b22",
      "name": "Final Debug Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -180,
        320
      ]
    },
    {
      "parameters": {},
      "id": "2d3ea831-f651-49c6-a2f8-1fb25b41d333",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        440
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "domain_to_analise",
              "stringValue": "={{ $json.domain_to_analise }}"
            },
            {
              "name": "whois_data",
              "stringValue": "={{ $json.whois_data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "98bc8f76-554b-42ab-b558-13eeab362ac6",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        160,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.domain_to_analise }}",
        "options": {}
      },
      "id": "b0d7b4af-a032-4662-9010-00a5ab0a4eaa",
      "name": "HTTP_Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "fb815e1d-0b30-43e1-b168-d73b01faa745",
      "name": "if HTTP GET is on error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        820
      ]
    },
    {
      "parameters": {},
      "id": "69939b33-53a0-4559-83e5-fdfe1be74a8e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2040,
        1100
      ]
    },
    {
      "parameters": {},
      "id": "36c0d08b-6e37-42eb-86bb-68ef217d4dc5",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        1460
      ]
    },
    {
      "parameters": {
        "html": "O Dominio pertece a uma warehouse conhecida: sedo.com\nEsta não tem o valor de revenda pré definido mas pode ser contadada por form neste link:\n\n{{ $json.sale_diagonal_top_link }}\n\nMais informação em:\nhttps://www.mydomain.com/support/contact.html\n"
      },
      "id": "d64867f2-686c-42db-ad06-9763ef85c64b",
      "name": "Data Extration2",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1500,
        1460
      ]
    },
    {
      "parameters": {
        "content": "## default error message",
        "height": 289.48470996876955,
        "width": 707.447503793783
      },
      "id": "0e1235cc-ea20-4736-8ef9-9d5ad83b6c82",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        1700
      ]
    },
    {
      "parameters": {
        "content": "## extracts data from site",
        "height": 288.0702284948323,
        "width": 748.4103052504588
      },
      "id": "40da53e7-1b4e-41ea-b3b4-ca56fa99c255",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "3046e70c-f51e-41e5-a927-107675a3bd02",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        1800
      ]
    },
    {
      "parameters": {
        "html": "O Dominio pertece a uma warehouse conhecida: sedo.com\nEsta não tem o valor de revenda pré definido mas pode ser contadada por form neste link:\n\n{{ $json.sale_diagonal_top_link }}\n\nMais informação em:\nhttps://www.mydomain.com/support/contact.html\n"
      },
      "id": "8b6e9e11-6d6f-463d-8cc9-0305f32d54f1",
      "name": "Data Extration3",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1540,
        1800
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "test_more_errors",
              "stringValue": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "552e7e6d-692e-4601-b63f-9450edd8391f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        900,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "true",
              "value2": "false"
            }
          ]
        }
      },
      "id": "2c36708c-a86a-46dc-9c52-74426db42ab1",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.test_more_errors }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "57afdb2f-4031-4813-81d9-a1fe694bbec1",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        1120
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "test_more_errors",
              "stringValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "7dec3140-d0dc-4bae-88e6-dee2706377e6",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        860,
        1120
      ]
    },
    {
      "parameters": {
        "html": "O Dominio pertece a uma warehouse conhecida: sedo.com\nEsta não tem o valor de revenda pré definido mas pode ser contadada por form neste link:\n\n{{ $json.sale_diagonal_top_link }}\n\nMais informação em:\nhttps://www.mydomain.com/support/contact.html\n"
      },
      "id": "de4a5caa-b39f-4ce3-bab6-a54906a08c9d",
      "name": "Data Extration1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1820,
        1060
      ]
    },
    {
      "parameters": {
        "url": "=https://sedo.com/search/details/?domain=classificados.online&campaignId=329145&origin=sales_lander_15",
        "options": {}
      },
      "id": "1144f629-2c72-4fe2-a526-304ad37ae38a",
      "name": "HTTP_Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "error",
              "stringValue": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdb91da2-31ac-41a5-bfeb-606d8bcd47d7",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1660,
        1160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Debug Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Data Extration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if HTTP GET is on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Settings": {
      "main": [
        [
          {
            "node": "HTTP_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Trigger": {
      "main": [
        [
          {
            "node": "n8n call Settings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML extractor": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Request": {
      "main": [
        [
          {
            "node": "convert to Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to Json": {
      "main": [
        [
          {
            "node": "Final Debug Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Debug Settings": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extration": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "HTTP_Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Request1": {
      "main": [
        [
          {
            "node": "HTML extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if HTTP GET is on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n call Settings1": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if HTTP GET is on error": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extration2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extration3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Data Extration2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data Extration3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "HTTP_Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Extration1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Request2": {
      "main": [
        [
          {
            "node": "Data Extration1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Data Extration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ee06a11-954f-46d5-abba-336fb8f3de5d",
  "id": "6qnzVGyEnHAZRQZo",
  "meta": {
    "instanceId": "9367b2af08e9ff6a8e91f8997d59b421f3a6d2d63dad9ad9e3e79d764c423975"
  },
  "tags": [
    {
      "createdAt": "2023-11-28T12:56:16.260Z",
      "updatedAt": "2023-12-09T17:22:02.937Z",
      "id": "WM0kFv1cYkbt3zJb",
      "name": "status:_under_const"
    },
    {
      "createdAt": "2023-11-28T12:55:17.202Z",
      "updatedAt": "2023-12-09T17:24:48.747Z",
      "id": "ldsr1KArTCmavG80",
      "name": "type>>resource"
    },
    {
      "createdAt": "2023-11-28T12:49:13.352Z",
      "updatedAt": "2023-12-09T17:24:25.329Z",
      "id": "siPs4JzBSSUVpks6",
      "name": "project>>branding"
    }
  ]
}